.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-image: url('../../public/footer-banner.jpg');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100; /* Below sidebar but above other content */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.192);
}

.footer-image {
  display: none; /* Hide the img element since we're using background-image */
} 